# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Assets.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nguye\Unity_Top_Down_Typing_RPG\Assets\.idea\.idea.Assets.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
